@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background: #030329;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
  }

  body {
    background: #030329;
    color: white;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Clash Display', sans-serif;
  }

  code,
  pre {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  .drop-shadow-glow {
    filter: drop-shadow(0 0 0.5rem rgba(96, 165, 250, 0.5));
  }

  .futuristic-gradient-animate {
    background: linear-gradient(270deg, #60a5fa, #a78bfa, #38bdf8, #a78bfa, #60a5fa);
    background-size: 200% 200%;
    animation: gradientMove 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    filter: drop-shadow(0 0 8px #60a5fa88);
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}